@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Mooli&family=Rajdhani:wght@500&family=Roboto+Serif:opsz,wght@8..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 255, 255, 0.229);
}

#main {
    height: 100vh;
    width: 100%;
    background-color: black;
}

#element {
    font-size: 3rem;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    padding: 5px;
}

span {
    color: blueviolet;
}

nav {
    background-color: blueviolet;
}

#folio {
    color: red;
}

.navbar-brand {
    font-size: 35px;
}

.card-body ul li {
    list-style: none;
}

.heading {
    font-size: 8vh;
}

i:hover {
    transform: scale(2);
}

.jack {
    transition: 5s ease-in-out;
}

.jack:hover {
    transform: scale(1.2);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    transition: 1s ease-in-out;
}

a:hover {
    transform: scale(1.2);
    color: black !important;
}

/* .btnn {
    background-color: rgba(137, 43, 226, 0.379) !important;
    color: rgba(127, 99, 152, 0) !important; */
}

.btnn:hover {
    background-color: blueviolet !important;
}

.card {
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.accordion-item {
    transition: 1s ease-in-out;
}

.accordion-item:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none !important;
    color: black;
}

.contact {
    color: black !important;
}

.copyright {
    height: 2rem;
    width: 100%;
    background-color: black;
}

.btnnn {
    text-align: center;
    background-color:rgb(19, 125, 219) !important;
    margin-left: 50%;
    border-radius: 10%;
    color: white;
    font-size: 10Px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 750px) {
    h1,
    #element {
        font-size: 3vh;
        padding: 0px !important;
        margin: 0px;
        margin-top: 4px;
    }

    .btnn {
    
        
        color: rgba(137, 43, 226, 0.422) !important;
        width: 8rem !important;
        height: 2rem !important;
        color: white !important;
    }

    .btnnn {
        text-align: center;
        background-color: transparent;
        margin-left: 50%;
        padding: 0.1rem;
    }

    .copyright {
        height: 1rem;
        width: 100%;
        background-color: black;
        text-align: center;
    }

    #main {
        height: auto;
        min-height: 30rem;
        width: 100%;
        background-color: black;
    }

    .heading {
        font-size: 3vh;
    }

    h2 {
        font-size: 28px !important;
    }
    /* #img1{
        height: 50px;
        width: 50px;
    } */
    .para{
        justify-content: space-evenly;
    
    }
div.col-6{
    width: 100%;
}
.mb-5{
    padding: 0px;

}
.skills{
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#img1{
    height: 40%;
    width: 100%;
}
.btn1{
    height: auto;
    width: auto;
}
.first{
    padding: 0px !important;
}

}


@media only screen and (min-width: 751px ) and (max-width: 950px){
     .third{
        margin-left: 25%;
     }
     
    .btnnn {
        text-align: center;
        background-color: transparent;
        margin-left: 50%;
        padding: 0.1rem;
    }
    .heading{
        font-size: 3vh;
    }
    div.col-6{
        width: 100%;
    }
}
